/****************************************************
 *                Navigation bar                    *
 ****************************************************/
nav {
  background-color: #0000ff;
  /*opacity: 0.3;*/
  position: relative;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  margin-left: 30px;
  width: auto;
}

nav ul li a {
  display: block;
  padding: 6px; /* height of the navigation menu bar */
  font-size: 14px;
  color: white;
  text-decoration: none;
  /*font-weight: bold;*/
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}

nav ul li a:hover {
  background-color: #ccc;
  color: #000;
}

#patents ul {
  list-style-type: none;
}
/****************************************************
 *                index                             *
 ****************************************************/
body#index {
  background-color: #f4f4d7;
}
img#picture {
  float: left;
  margin-right: 1.25em;
}

h1#name {
  text-align: center;
  max-width: 960px;
  font-family: 'Neuton', serif;
  font-size: 40px;
  margin-bottom: -0.8em;
}
h1#profession {
  text-align: center;
  max-width: 960px;
  font-family: 'Neuton', serif;
  font-size: 40px;
}
h2#professional {
  text-align: left;
  max-width: 960px;
  font-family: 'Neuton', serif;
  font-size: 30px;
  margin-bottom: -0.625em;
}

h2#personal {
  text-align: left;
  max-width: 960px;
  font-family: 'Neuton', serif;
  font-size: 30px;
  margin-bottom: -10px;
}
  
div#wrap-around {
  max-width: 960px;
  margin-left: 0.625em;
  font-family: 'Neuton', serif;
  font-size: 25px;
  width: 82%; 
}

div#wrap-around ul {
  margin-left: 10em;
  list-style-type: square;
}


/****************************************************
 *                resume                            *
 ****************************************************/
#resume-body {
  background-color: #f4f4d7;
}

div#personal-resume {
  max-width: 960px;
  position: relative;
  margin-left: 20px;
}

div#personal-resume h1 {
  font-family: 'Neuton', serif;
  font-size: 40px;
  text-align: center;
  max-width: 960px;
  margin-bottom: -20px;
}
  
div#personal-resume p, div#technology p {
  font-family: 'Neuton', serif;
  font-size: 23px;
  text-align: center;
  max-width: 960px;
  margin-left: 20px;
}

div#career-profile h2 {
  font-family: 'Neuton', serif;
  font-size: 30px;
  text-align: center;
  max-width: 960px;
  margin-bottom: -20px;
}

div#career-profile p {
  font-family: 'Neuton', serif;
  font-size: 23px;
  text-align: center;
  max-width: 960px;
  margin-left: 30px;
}

#career-summary {
  font-family: 'Neuton', serif;
  font-size: 30px;
  text-align: left;
  max-width: 960px;
  margin-left: 20px;
}

div#career-summary h2 {
  font-family: 'Neuton', serif;
  font-size: 30px;
  text-align: center;
  /*font-size: 300%;*/
  max-width: 960px;
  margin-bottom: -25px;
}

div#career-summary ul li {
  font-family: 'Neuton', serif;
  font-size: 23px;
  text-align: left;
  /*font-size: 300%;*/
  max-width: 960px;
}

#work-experience {
  max-width: 960px;
  margin-left: 20px;
}

.odd {
  background-color: #e4e49b;
}

.even {
  background-color: #efefc3;
}

div#work-experience h2 {
  font-family: 'Neuton', serif;
  font-size: 30px;
  text-align: center;
  /*font-size: 300%;*/
  max-width: 960px;
  margin-bottom: -1px;
}
#work-experience-table {
  width: 100%;
  max-width: 960px;
  table-layout: fixed;
  border-collapse:collapse;
  margin-left: 20px;
}
.company-name {
  font-family: 'Neuton', serif;
  font-size: 25px;
  max-width: 960px;
  text-align: left;
  width: 100%;
}
.work-title {
  font-family: 'Neuton', serif;
  font-size: 25px;
  max-width: 960px;
  text-align: left;
  width: 50%;
}
.work-date {
  font-family: 'Neuton', serif;
  font-size: 25px;
  max-width: 960px;
  width: 50%;
  text-align: right;
}
.work-description {
  font-family: 'Neuton', serif;
  font-size: 20px;
  text-align: left;
  max-width: 960px;
}

.work-description ul {
  margin-top: -2px;
}

div#technology {
  font-family: 'Neuton', serif;
  font-size: 20px;
  text-align: left;
  max-width: 960px;
  margin-left: 20px;
}

div#patents h2, div#education h2, div#technology h2 {
  font-family: 'Neuton', serif;
  font-size: 30px;
  max-width: 960px;
  text-align: center;
  margin-left: 20px;
  margin-bottom: -20px;
}
div#patents ul li, div#education ul li {
  font-family: 'Neuton', serif;
  font-size: 23px;
  text-align: center;
  max-width: 960px;
  list-style-type: none;
  margin-left: 20px;
}

/****************************************************
 *            nationalParksVisited                  *
 ****************************************************/

body#national-parks-body {
  background-color: #f0e68c;
}

div#national-parks h1 {
  font-family: 'Neuton', serif;
  font-size: 40px;
  text-align: center;
  margin-left: 20px;
}


#national-parks-table {
  border: 3px groove black;
  text-align: center;
  width: 100%;
  max-width: 960px;
  border-collapse:collapse;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

div#national-parks th {
  border: 7px ridge black;
  text-align: center;
  font-family: 'Neuton', sans-serif;
  font-size: 30px;
  height: 60px;
  max-width: 960px;
  background-color: #c88737;
  color: black;
}

div#national-parks td {
  border: 7px ridge black;
  font-family: 'Neuton', sans-serif;
  font-size: 23px;
  text-align: center;
  background-color: #deb887;
  max-width: 960px;
  color: black;
}


div#national-parks tr:hover td{
  background-color: #f0e68c; /* powderblue */
  /*border: 2px solid black;*/
  color: black;
}

div#national-parks p {
  font-family: 'Neuton', sans-serif;
  font-size: 18px;
  text-align: center;
  color: black;
}
